@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }
  
  body {
    font-family: var(--font-inter);
    height: 100%;
    /* background-color: #ffffff;
    background-image:  linear-gradient(#f2f2f2 1px, transparent 1px), linear-gradient(to right, #f2f2f2 1px, #ffffff 1px);
    background-size: 20px 20px; */
  }

  .font-arabic {
    font-family: var(--font-noto-arabic);
    direction: rtl;
    @apply text-2xl sm:text-4xl leading-[3rem] sm:leading-[4rem];
  }

  h2 {
    @apply text-2xl mb-5;
  }

  a {
    @apply hover:opacity-70 transition-all;
  }
}

@layer components {
  .progress-wheel {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  
  .progress-wheel circle {
    stroke-dashoffset: 0;
    stroke-width: 30%;
    fill: none;
  }
  
  .progress-wheel .bg {
    stroke: #000;
    opacity: 0.2;
  }
  
  .progress-wheel .progress {
    stroke: #000;
    stroke-dasharray: 0, 1;
  }
}